/* HEADER */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu__item:nth-child(1) {
    width: 100%;
}


/* CATEGORIAS */
.categorias__lista {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}


/* DESTAQUES */
.destaques {
    display: flex;
    align-items: center;
    gap: 10px;
}

.destaques__barra {
    flex-grow: 1;
}


/* EVENTOS */
.eventos__lista {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px;
}


/* AGENDA */
.agenda__lista {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

/* RODAPÉ */
.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
}

.rodape__logo {
    align-self: end;
}


/* TABLETS */
@media screen and (min-width: 720px) {

    /* HEADER */
    .menu {
        column-gap: 75px;
        padding: 0 2.5rem;
    }

    .menu__item:nth-child(1) {
        width: fit-content;
    }

    .menu__pesquisar {
        margin: 0 auto;
        margin-bottom: 10px;
    }


    /* CATEGORIAS */
    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }


    /* EVENTOS */
    .eventos__lista {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.6rem;
        row-gap: 1.5rem;
        justify-content: end;
    }

    
    /* AGENDA */
    .agenda__lista {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.25rem;
        justify-content: end;
    }
}


/* DESKTOPS */
@media screen and (min-width: 1440px) {

    /* HEADER */
    .menu {
        column-gap: auto;
        padding: 0 7.5rem;
        flex-wrap: nowrap;
    }

    .menu__pesquisar {
        margin: 0;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }
}